In [1]:
%pwd

'C:\\Users\\Baron\\Desktop\\EE_257_Repo\\EE_257\\%ML_PATH_EE257%\\EE257_env\\Assignments'

In [4]:
import pandas as pd 
dataset = pd.read_excel("Feb1_Lecture_dataset.xlsx") # allows us to read the data in the file
#dataset = pd.BLANK("EE257_GapMinder.csv")      # same fucntion but for csv format


dataset.head()

   array_x  array_y
0      1.0     -1.0
1     -1.0      3.0
2      1.0      0.0
3      2.0     -2.0
4      0.5      0.5

In [3]:
dataset.describe()

        array_x   array_y
count  5.000000  5.000000
mean   0.700000  0.100000
std    1.095445  1.884144
min   -1.000000 -2.000000
25%    0.500000 -1.000000
50%    1.000000  0.000000
75%    1.000000  0.500000
max    2.000000  3.000000

In [5]:
corr_matrix = dataset.corr(numeric_only = 1)
corr_matrix

          array_x   array_y
array_x  1.000000 -0.981116
array_y -0.981116  1.000000